@import "variables";

$nav-item-indent: $pt-grid-size * 2;

$nav-item-color-hover: rgba($gray3, 0.15) !default;
$nav-item-color-active: rgba($gray3, 0.3) !default;
$dark-nav-item-color-hover: rgba($gray3, 0.15) !default;
$dark-nav-item-color-active: rgba($gray3, 0.3) !default;


.extension-root {
  background-color: $content-background-color;

  &.#{$ns}-dark {
    background-color: $dark-content-background-color;
  }
}

.extension-nav {
  $background-shift: 999px;
  background-color: $sidebar-background-color;
  box-shadow: 1px 0 0 $pt-divider-black;
  height: 100vh;

  // these rules allow the nav background-color to cover all area to the left
  /* stylelint-disable-next-line order/properties-order */
  margin-left: -$background-shift;
  overflow-y: auto;
  padding-bottom: $sidebar-padding * 2;
  padding-left: $background-shift + $container-padding;

  position: fixed;
  width: $sidebar-width + $background-shift;

  .#{$ns}-dark & {
    background-color: $dark-sidebar-background-color;
    box-shadow: 1px 0 0 $pt-dark-divider-black;
  }

  >* {
    padding: $sidebar-padding;
    padding-left: 0;
  }
}

.extension-content-wrapper {
  align-items: flex-start;
  background-color: $content-background-color;
  flex-basis: $content-width;
  outline: none;

  .#{$ns}-dark & {
    background-color: $dark-content-background-color;
  }
}