@import "variables";
@import "@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "https://play.pokemonshowdown.com/style/battle.css";

$nav-item-indent: $pt-grid-size * 2;

$example-frame-border-radius: $pt-border-radius * 2;
$example-spacing: $pt-grid-size * 4;

$nav-item-color-hover: rgba($gray3, 0.15) !default;
$nav-item-color-active: rgba($gray3, 0.3) !default;
$dark-nav-item-color-hover: rgba($gray3, 0.15) !default;
$dark-nav-item-color-active: rgba($gray3, 0.3) !default;
$example-background-color: $white;
$dark-example-background-color: $dark-gray3;


.extension-root {
  background-color: $content-background-color;

  &.#{$ns}-dark {
    background-color: $dark-content-background-color;
  }
}

.docs-example {
  align-items: center;
  background: $example-background-color;
  border-radius: $example-frame-border-radius;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  // https://css-tricks.com/flexbox-truncated-text/#article-header-id-3
  min-width: 0;
  padding: $example-spacing * 0.3;
  margin-left: $example-spacing * 0.2;
  margin-right: $example-spacing * 0.2;

  .#{$ns}-dark & {
    background: $dark-example-background-color;
  }

  >* {
    margin: $example-spacing * 0.15;
    width: 100%;
  }
}

.bp4-tab-panel {
  margin: 0%;
}

.bp4-tab-list {
  justify-content: center;
}

.team-card {
  text-align: center;
  padding: $example-spacing * 0.2;

  .team-format-tag {
    margin-right: $example-spacing * 0.1;
  }

  .team-icons {
    overflow: auto;
    display: flex;
    justify-content: center;
  }

  >* {
    display: block;
    margin: $example-spacing * 0.1;
  }
}

.extension-content-wrapper {
  align-items: flex-start;
  background-color: $content-background-color;
  flex-basis: $content-width;
  outline: none;

  .#{$ns}-dark & {
    background-color: $dark-content-background-color;
  }
}